.admin_preview_container {
  display: flex;
  margin: 50px auto 0;
  justify-content: center;

  .showcard_admin_row {
    margin: 10px;

    .collection-item {
      position: relative;
      width: 250px;
      border: 1px solid white;
      margin: 0 7.5px 15px;
      overflow: hidden;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      .image {
        width: 100%;
        height: 100%;
      }

      .image_discount_back {
        position: absolute;
        right: 0px;
        width: 180px;
        height: 180px;
        background-color: #744cd5;
        transform: rotate(45deg) translate(0px, -140px);
      }

      .image_discount_num {
        position: absolute;
        right: 8px;
        top: 6px;
        font-size: 26px;
        color: white;
      }
      .image_discount_word {
        position: absolute;
        right: 10px;
        top: 34px;
        font-size: 14px;
        color: white;
        font-weight: 300;
      }

      .content-text {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 35%;
        left: 20%;
        width: 60%;
        height: 35%;
        padding: 20px;
        text-align: center;
        color: white;
        font-weight: 700;
        font-size: 18px;
        background-color: rgba($color: #333, $alpha: 0.6);

        .header-text {
          color: white;
          opacity: 0.7;
          text-decoration: none;
        }
      }
    }

    .collection-item_admin {
      @extend .collection-item;
      width: 270px;
      display: flex;
      flex-direction: column;
      height: 350px;
      align-items: center;
      position: relative;
      border: rgba($color: #696969, $alpha: 0.2) 1px solid;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      .image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        cursor: pointer;
      }

      .collection-footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 20px;
        padding: 0 6px;
        margin-top: 6px;
        margin-bottom: 10px;
        color: white;

        .oldPrice {
          text-decoration: line-through;
          text-decoration-color: red;
          font-size: 14px;
          margin-right: 4px;
          font-weight: 200;
        }
      }
    }

    .upload_btn {
      margin: 10px;
      display: none;
    }
  }

  .admin_img_prew_container {
    margin: 0 7px;
    height: 170px;
    width: 270px;
    display: flex;
    flex-wrap: wrap;

    .admin_img_prew {
      width: 60px;
      border: solid white 1px;
      color: white;
      height: 64px;
      margin: 0 10px 0 0;

      &:nth-child(4) {
        margin-right: 0;
      }
      &:nth-child(8) {
        margin-right: 0;
      }

      .admin_plus {
        text-align: center;
        margin-top: 6px;
        font-size: 2.6rem;
        font-weight: 200;
      }

      &:hover {
        cursor: pointer;
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  .admin_input_container {
    margin: 10px 10px 0 10px;
    background-color: rgba($color: #000, $alpha: 0.7);
    padding: 10px 20px;
    margin-bottom: 30px;

    .admin_label {
      font-weight: 600;
      color: #747474;
    }

    .admin_input {
      text-indent: 5px;
      width: 20vw;
      height: 25px;
      border: none;
      font-size: 16px;
      margin-bottom: 5px;
      background-color: rgba($color: lightgrey, $alpha: 0.7);

      &:focus {
        outline: none;
      }
    }
  }
}

.discount_container {
  background: rgba($color: #000000, $alpha: 0.6);
  margin: 10px;
  padding: 10px 20px;
  height: 350px;
  width: 260px;
  color: white;

  .discount_title {
    margin-bottom: 10px;
    text-align: center;
  }
  .discount_check {
    margin-left: 30px;
  }
}

.admin_btn_container {
  display: flex;
  justify-content: center;
  margin: 15px 0;

  .control_btn {
    display: block;
  }
}

.admin_status_container {
  display: flex;
  margin: 10px;
  justify-content: center;

  .percentage {
    text-align: center;
    font-size: 2rem;
  }
}
